<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastrar Aeronave</title>

  <!--<link href="Views/style.css" type="text/css" rel="stylesheet">-->

</head>

<body>
  <h1>Registar Aeronave</h1>
  
  <label>Preencha os dados abaixo:</label><br><br>
  
    <form action="../Controllers/aeronave.php" method="get">
        <label>Fabricante: </label><input name="fabricante" type="text"></input><br>
        <label>Modelo: </label><input name="modelo" type="text"></input><br>
        <label>Registro: </label><input name="registro" type="text"></input><br>
        <label>Capacidade de Passageiros: </label><input name="cap_p" type="text"></input><br>
        <label>Capacidade de Carga: </label><input name="cap_c" type="text"></input><br>
        <label>Registro: </label><input name="registro" type="text"></input><br>
    <br><button>Enviar</button><br><br>
    </form>

    <form action="sistema.html" method="get">
        <button>Voltar</button>
    </form>
  
  
</body>