<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastrar Categoria</title>

  <!--<link href="Views/style.css" type="text/css" rel="stylesheet">-->

</head>

<body>
  <h1>Registar Aeroporto</h1>
  
  <label>Preencha os dados abaixo:</label><br><br>
  
    <form action="../Controllers/categoria.php" method="get">
        <label>Sigla: </label><input name="sigla" type="text"></input><br>
        <label>Cidade: </label><input name="cidade" type="text"></input><br>
        <label>Estado: </label><input name="estado" type="text"></input><br>
    <br><button>Enviar</button><br><br>
    </form>

    <form action="sistema.html" method="get">
        <button>Voltar</button>
    </form>
  
  
</body>