<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Comprar Passagem</title>

  <!--<link href="Views/style.css" type="text/css" rel="stylesheet">-->

</head>

<body>
  <h1>Procurar Passagem</h1>
  
  <label>Preencha os dados abaixo:</label><br><br>
  
    <form action="../Controllers/passagem.php" method="get">
        <label>Cliente: </label><input name="cliente" type="text"></input><br>
        <label>Data: </label><input name="data" type="date"></input><br>
        <label>Aeroporto de saída: </label><input name="aeros" type="text"></input><br>
        <label>Aeroporto de chegada: </label><input name="aeroc" type="text"></input><br>
        <label>Quantidade: </label><input name="quant" type="text"></input><br>
        <br><button>Enviar</button><br><br>
    </form>

    <form action="sistema.html" method="get">
        <button>Voltar</button>
    </form>
  
  
</body>