<head>
    <title>Pagina geral</title>
</head>

<body>
  
    <h1>Sistema de Aeroportos</h1>

</body>

<body>

  <label>Selecione umas das funcionalidades a seguir:</label><br><br>
  
  <form action="../Views/aeronave.html" method="get">
    <button>Cadastrar Aeronave</button>
  </form>

  <form action="../Views/aeroporto.html" method="get">
    <button>Cadastrar Aeroporto</button>
  </form>

  <form action="../Views/companhia.html" method="get">
    <button>Cadastrar Companhia</button>
  </form>

  <form action="../Views/planejamento.html" method="get">
    <button>Criar Planejamento</button>
  </form>

  <form action="../Views/cliente.html" method="get">
    <button>Cadastrar Cliente</button>
  </form>

  <!-- <form action="../index.html" method="get">
    <button>Cadastrar Passageiro</button>
  </form> -->

  <form action="../Views/tripulante.html" method="get">
    <button>Cadastrar Tripulante</button>
  </form>

  <form action="../Views/veiculo.html" method="get">
    <button>Cadastrar Veiculo</button>
  </form>

  <form action="../Views/categoria.html" method="get">
    <button>Cadastrar Categoria</button>
  </form>

  <form action="../Views/passagem.html" method="get">
    <button>Comprar Passagem</button>
  </form>

  <form action="../index.html" method="get">
    <button>Sair</button>
  </form>
  
</body>

