<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sistema de Aeroportos</title>

  <!--<link href="Views/style.css" type="text/css" rel="stylesheet">-->

</head>

<body>
  <h1>Cadastro de Usuário</h1>

  <label>Insira os dados abaixo para se cadastrar.</label><br><br>

  <form action="../Controllers/login.php" method="get">
    
      <label>Login:</label><input name="login" type="text" ></input><br>
      <label>E-mail:</label><input name="email" type="text" ></input><br>
      <label>Senha:</label><input name="senha" type="text"></input><br>  
    <button>Enviar</button>
    <br><br>
  </form>