<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastrar Veículo</title>

  <!--<link href="Views/style.css" type="text/css" rel="stylesheet">-->

</head>

<body>
  <h1>Registar Aeronave</h1>
  
  <label>Preencha os dados abaixo:</label><br><br>
  
    <form action="../Controllers/veiculo.php" method="get">
        <label>Capacidade do Veículo: </label><input name="capacidade" type="text"></input><br>
        <label>Velocidade Média: </label><input name="velocidade" type="text"></input><br>
        <label>Viagem: </label><input name="viagem" type="text"></input><br>
    <br><button>Enviar</button><br><br>
    </form>

    <form action="sistema.html" method="get">
        <button>Voltar</button>
    </form>
  
</body>